@{
    ViewBag.Title = "About";
}
<h3>@ViewBag.Title.</h3>
<h5>Develop professional skills.</h5>
<hr />
<div class="row">
    <div class="col-sm-4 col-sm-offset-2" style="margin-top: 30px">
        <img src="~/Content/images/about.jpg" class="img-responsive" />
    </div>
    <div class="col-sm-4">
        <p style="margin-top: 30px">Europe is one of the largest snooker playing regions in the world, with more than 40 active member countries in the <strong>EBSA</strong> (The European Billiards & Snooker Coaching Academy) and the numbers are growing all the time.</p>
        <p>Since 2009 <strong>Bratislav Krastev</strong> has been a full-time snooker coach at the Snooker & Billiard Center in Sofia, Bulgaria, coaching people at all ages and all levels. In 2011 He became the national snooker coach of Bulgaria and with the help of the knowledge and experience gained he founded and is the head coach of the 101 Snooker Academy. His academy was created in order to improve the Bulgarian players.</p>
        <p>The <strong>101 Snooker Academy</strong> is the place where you can learn best practices in Snooker under the supervision of coach <strong>Bratislav Krastev</strong>.</p>
    </div>
</div>
