@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Title.</h3>
<h5>Location and contact information.</h5>
<hr />
<address>
    <abbr title="Address">Address:</abbr><br />
    Blvd. Todor Aleksandrov 64<br />
    Sofia, Bulgaria<br />
    <abbr title="Phone">Phone:</abbr><br />
    +359888-888-888
</address>

<address>
    <strong>E-mail:</strong> <a href="mailto:101SnookerAcademy">bratislav.krastev@gmail.com</a>
</address>